<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364311436002-fmppbidf1i21bst9i8f4tms26a8doqio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364311436002-fmppbidf1i21bst9i8f4tms26a8doqio</string>
	<key>API_KEY</key>
	<string>AIzaSyBLLrqP0KNnj1jsqR_uJuTOTlBiK5_4wLE</string>
	<key>GCM_SENDER_ID</key>
	<string>364311436002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mdidin.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-66a5f</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-66a5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364311436002:ios:6e790f5a6c26abc54b5cbb</string>
</dict>
</plist>